<div class="card">
    <img [src]="character.image" class="card-img-top" alt="character.name">
    <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <div *ngIf="showActions">
            <a *ngIf="character.haveLike" (click)="clickLike()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </a>
            <a *ngIf="!character.haveLike" (click)="clickLike()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
            </a>
            <p class="card-text"><small class="text-muted">{{ likes }}</small></p>
        </div>
        
    </div>
</div>