<search-bar [searchCharacter]="searchCharacterCallback"></search-bar>

<pagination-buttons 
    [changePage]="setCharactersCallback" 
    [page]="currentPage" 
    [params]="params"
    [nextPage]="nextPageCallback"
    [prevPage]="prevPageCallback"
    ></pagination-buttons>
<div class="row">
    <div class="col-3">
        <filter [filterCharacters]="filterCharactersCallback"></filter>
    </div>
    <div class="col">
        <character-list [characters]="currentCharacters" [showActions]="isLoggedIn" [user]="user"></character-list>
    </div>
</div>
